<h1>Magic ticket maker</h1>
<form method="POST" action="/maketicket">
    <p><label for="user">Username: </label><input type="text" id="user" name="user"/> <input type="submit" value="Press enter!"/></p>
</form>
